<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HIT COUNTER</title>
</head>
<body>

    <h1>Hello World!</h1>
	<p>I have been seen <span id="hits_count">0</span> times.</p>
	<p>So, you hit REDIS for <span id="rhits_count">0</span> times.</p>
	<p>Server HOST IP=<span id="host_ip">0.0.0.0</span> and HOST=<span id="host">random_number_lol</span>.</p>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bower_components/socket.io-client/dist/socket.io.slim.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var url = 'http://' + document.domain + ':' + location.port;
            var socket = io.connect(url + "/mcc");
            socket.on('hits_count', function (msg) {
                var hits_count = msg['hits_count'];
                var host_ip = msg['host_ip'];
                var host = msg['host'];

                $("#hits_count").html(hits_count);
                $("#rhits_count").html(hits_count);
                $("#host_ip").html(host_ip);
                $("#host").html(host);
            })
        });
    </script>
</body>
</html>
